body {
  overflow-x: hidden;
}

.home {
  background: url(../assets/truckbg.jpeg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
  background-size: cover;
}
.services {
  background: url(../assets/truckbg3.jpeg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
  background-size: cover;
}

.textred{
  color: rgba(254, 240, 138, 0.927);
}

.header {
  background: rgba(254, 240, 138, 0.927);
  width: 100%;
  position: fixed;
  z-index: 1;
}

.main,
.services {
  min-height: 100vh;
}

.animtext {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.animtext1 {
  animation-delay: 0.3s;
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  color: white;
  font-size: 40px;
}
.animtext2 {
  animation-delay: 0.5s;
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.active {
  color: #000;
  transform: scale(1.1);
}
.services_main {
  width: 500px;
  margin: 0 auto;
  padding: 20px;
  background: rgba(254, 240, 138, 0.732);
  border-radius: 20px;
}

.num{
  border: 1px solid transparent;
  background: rgba(254, 240, 138, 0.666);
  margin: 10px 0;
  padding: 5px;
  border-radius: 10px;
  text-align: center;
}

.bottom-content {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(50px);
    -ms-transform: translateY(50px);
    transform: translateY(50px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}
